.containerSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.containerAlignRight{
    display: flex;
    justify-content:flex-end;
}

.containerAlignLeft{
    display: flex;
    justify-content:flex-start;
}

.littleContainer {
    width: 50%;
}
  
  